<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8"/>
    <title>Plantilla</title>
</head>
<body>

    <header th:fragment="header">
        <div>
            <a th:href="@{/(lang=es)}">🇪🇸</a>
            /
            <a th:href="@{/(lang=en)}">🇺🇸</a>
        </div>
        <br>
        <div>
            <strong>User: </strong><span sec:authentication="name">Usuario que hizo login</span>
            <br>
            <strong>Roles: </strong><span sec:authentication="principal.authorities">Roles del Usuario que hizo login</span>
            <form method="post" th:action="@{/logout}">
                <a href="#" onclick="this.parentNode.submit();">[[#{plantilla.cerrar-sesion}]]</a>
            </form>
        </div>
        <hr>
        <h1 th:text="#{plantilla.titulo}">Titulo a traves del messages</h1>
        <hr>
    </header>

    <footer th:fragment="footer">
        <p>
            [[#{plantilla.pie-pagina}]] <a href="https://exequielgerez.tech" target="_blank">exequielgerez.tech</a>
        </p>
        <hr>
    </footer>

</body>
</html>