<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

    <header th:replace="layout/plantilla :: header"/>

    <a th:href="@{/agregar}">Agregar Cliente</a>

    <hr>

    <div th:if="${clientes != null and !clientes.empty}">
        <table border="1px solid #ccc">
            <thead>
                <tr>
                    <th>Nombre  </th>
                    <th>Apellido  </th>
                    <th>Email  </th>
                    <th>Telefono  </th>
                    <th>Saldo </th>
                    <th>Acciones </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td th:text="${cliente.saldo}"></td>
                    <td>
                        <a th:href="@{/editar/} + ${cliente.id_cliente}">Editar</a>
                        <br>
                        <a th:href="@{/eliminar(id_cliente=${cliente.id_cliente})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div th:if="${clientes == null or clientes.empty}">
        La lista de clientes esta vacia
    </div>

    <footer th:replace="layout/plantilla :: footer"/>

</body>
</html>