<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[#{head.titulo}]]</title>
</head>
<body>

    <header th:replace="layout/plantilla :: header"/>

    <a th:href="@{/agregar}">[[#{accion.agregar}]]</a>

    <hr>

    <div th:if="${clientes != null and !clientes.empty}">
        <table border="1px solid #ccc">
            <thead>
                <tr>
                    <th>[[#{cliente.nombre}]]</th>
                    <th>[[#{cliente.apellido}]]</th>
                    <th>[[#{cliente.email}]]</th>
                    <th>[[#{cliente.telefono}]]</th>
                    <th>[[#{cliente.saldo}]]</th>
                    <th>[[#{cliente.acciones}]]</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.email}"></td>
                    <td th:text="${cliente.telefono}"></td>
                    <td th:text="${cliente.saldo}"></td>
                    <td>
                        <a th:href="@{/editar/} + ${cliente.id_cliente}">[[#{accion.editar}]]</a>
                        <br>
                        <a th:href="@{/eliminar(id_cliente=${cliente.id_cliente})}">[[#{accion.eliminar}]]</a>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <div th:if="${clientes == null or clientes.empty}">
        [[#{cliente.lista-vacia}]]
    </div>

    <footer th:replace="layout/plantilla :: footer"/>

</body>
</html>